body {

    background-color: rgb(44, 44, 44);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#indexHeader {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);

    max-width: 90vw;
}

#newMovieDiv {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);

    max-width: 90vw;

}

.movieContainer {

    padding: 20px;
    background-color: rgb(56, 56, 56);
    width: 50vw;
    height: 80px;
    gap: 5px;

    border-radius: 5px;
    border: solid rgb(82, 82, 82);
    margin: 5px;

}

.movieContainer select {

    float: right;
    position: static;

}

.status {

    width: 5px;
    height: 80px;
    float: left;
    margin-right: 20px;

    background-color: gainsboro;
}

.statusWatched {
    background-color: green;
}

.statusPlan {
    background-color: yellow;
}

.statusDropped {
    background-color: red;
}